.intro {
    height: 768px;
    background-image: url("../images/cover.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.intro h1 {
    color: #FFFFFF;
    font-size: 64px;
    font-family: theBold;
    position: absolute;
    bottom: 164px;
}

/*
┌─────────────┐
│ About Section├────
└─────────────┘
 */
.home-about {
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
    height: 600px;
}
.home-about-text{
    padding-top: 80px;
    padding-left: 20px;
    width: 480px;
}
.home-about-text h2 {
    margin-bottom: 24px;
}
.home-about-text p {
    font-size: 16px;
    color: #A5ACAA;
    line-height: 32px;
}
.home-about .bransh-image {
    position: relative;
    overflow: hidden;
    width: 600px;
}
.home-about .bransh-image img {
    position: absolute;
    top: -400px;
    left: -1470px;
}

@media screen and (max-width : 1191px){
    
}
@media screen and (max-width : 991px){
    .home-about {
    padding-top: 80px;

    }
    .home-about-text{
        padding-top: 80px;
        padding-left: 20px;
        padding-right: 10px;
        width: 600px;
    }
    .home-about-text h2 {
        margin-bottom: 16px;
        font-size: 28px;
    }
    .home-about-text p {
        font-size: 16px;
        line-height: 28px;
    }
}

@media screen and (max-width : 768px){
    .home-about {
        padding-top: 30px;
    
        }
    .home-about {
        height: auto;
    }
    .home-about .bransh-image {
        display: none;
    }
    .home-about-text{
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 10px;
        width: 80%;
    }
    .home-about-text h2 {
        margin-bottom: 16px;
        font-size: 28px;
    }
    .home-about-text p {
        font-size: 16px;
        line-height: 28px;
    }
}
@media screen and (max-width : 500px){
    .home-about {
        padding-top: 15px;
    
        }
    .home-about-text{
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 10px;
        width: 90%;
    }
    .home-about-text h2 {
        margin-bottom: 14px;
        font-size: 28px;
    }
    .home-about-text p {
        font-size: 12px;
        line-height: 24px;
    }
}
/*
┌─────────────┐
│ Vision Section ├────
└─────────────┘
 */
.we {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    flex-wrap: wrap;
}
.vision {
    padding: 20px 10px 0px 40px;
    width: 250px;
    height: 210px;
    border-left: 24px solid ;
    border-bottom: 16px solid ;
    border-radius: 8px;
}
.vision:nth-child(1){
    border-color: #256F44;
}
.vision:nth-child(2){
    border-color: #62A67D;
}
.vision:nth-child(3){
    border-color: #65A94D;
}
.vision h6{
    margin-bottom: 16px;
    font-family: theRegular;
    font-size: 32px;
    color: #55625E;
}
.vision p {
    color: #A5ACAA;
    line-height: 24px;
}
@media screen and (max-width : 1199px){
    .vision {
        padding: 20px 10px 0px 40px;
        width: 200px;
        height: 200px;
        border-left: 22px solid ;
        border-bottom: 14px solid ;
        border-radius: 8px;
    }
}
@media screen and (max-width : 991px){
    .we {
        justify-content: space-around;
    }
    .vision {
        padding: 15px 10px 0px 30px;
        width: 180px;
        height: 200px;
        border-left: 18px solid ;
        border-bottom: 10px solid ;
        border-radius: 6px;
        margin-bottom: 50px;
    }
    .vision h6{
        margin-bottom: 12px;
        font-size: 28px;
    }
       
}
@media screen and (max-width : 600px){
    .we {
        padding-bottom: 0px;
    }
    .vision {
        padding: 10px 5px 10px 15px;
        width: 80%;
        height: auto;
        border-left: 18px solid ;
        border-bottom: 10px solid ;
        border-radius: 6px;
        margin-bottom: 50px;
        
    }
    .vision p {
        font-size: 14px;
    }
    .vision h6{
        margin-bottom: 5px;
        font-size: 18px;
    }
}
/*
┌─────────────┐
│ Focus Section ├────
└─────────────┘
 */
.focus  {
    padding-top: 150px;
    padding-left: 104px;
    position: relative;
    overflow: hidden;
    height: 300px;
}
.bransh-focus {
    position: absolute;
    top: -300px;
    right: -1385px;
}

.focus .boxes {
    display: flex;
    position: relative;
}
.focus .boxes div {
    height: 89px;
    margin-right: 60px;
    max-width: 100px;
    padding-right: 29px;
    padding-left: 29px;
    background-color: #256F44;
    color: #F0F7F2;
    font-weight: theRegular;
    text-align: center;
    box-shadow: 0px 3px 20px #132D1E4D;
    border-radius: 8px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center

}
@media screen and (max-width : 1191px){
    .focus .boxes div {
        height: 70px;
        margin-right: 60px;
        max-width: 100px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 24px;
    }
}
@media screen and (max-width : 991px){
    .focus  {
        padding-top: 140px;
        padding-left: 80px;
    }
    .focus .boxes div {
        height: 60px;
        margin-right: 40px;
        max-width: 80px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 18px;
        justify-content:first baseline;
    }
}
@media screen and (max-width : 768px){
    .focus  {
        padding-top: 50px;
        padding-left: 50px;
    }
    .focus .boxes {
        flex-wrap: wrap;
    }
    .focus .boxes div {
        height: 40px;
        margin-right: 20px;
        margin-bottom: 30px;
        max-width: 80px;
        padding-right: 15px;
        padding-left: 15px;
        font-size: 18px;
        justify-content:first baseline;
    }
}
@media screen and (max-width : 600px) {
    .focus {
    height: 220px;

    }
    .bransh-focus {
        display: none;
    }
}
@media screen and (max-width : 340px) {
    .focus {
        height: auto;

    }
    .bransh-focus {
        display: none;
    }
}

/*
┌─────────────┐
│ Team Section ├────
└─────────────┘
 */

.team {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F0F7F2;
    background-color: #F0F7F2;
    text-align: center;
}

.team h2 {
    color: #55625E;
    margin-bottom: 150px;
    position: relative;
    font-family: theRegular;
}
.team h2:after {
    content: '';
    position: absolute;
    width: 80px;
    display: block;
    height: 3px;
    background-color: rgb(98, 166, 125);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
.team .member {
    width: 340px;
    height: 226px;
    padding-top: 90px;
    box-sizing: border-box;
    box-shadow: 0px 3px 20px #0000000D;
    border-radius: 6px;
    background-color: #FFFFFF;
    position: relative;
}

.team .member:nth-child(n+1):nth-child(-n+6) {
    margin-bottom: 150px;
}

.team .member h6  {
    font-size: 22px;
    color: #2F3433 !important;
    /* font-family: theRegular; */
    margin-bottom: 5px;
}
.team p {
    color: #A5ACAA;
    font-size: 18px;
    margin-bottom: 25px;
}
.team .member .member-image {
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #F0F7F2;
}
.team .member .member-image  img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width : 1251px){
    .team .member {
        width: 300px;
    }
    
}
@media screen and (max-width : 1191px){
    .team .member {
        width: 270px;
    }
    .team .member h6  {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .team p {
        font-size: 16px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width : 1028px){
    .team .member {
        width: 260px;
    }
}
@media screen and (max-width : 991px){
    .team .member {
        width: 280px;
        margin-bottom: 130px;
    }
    .team .flex-between {
        justify-content: space-around;
    }
    .team .member:last-child {
        margin-bottom: 30px;
    }

}
@media screen and (max-width : 600px){
    .team .member {
        padding-top: 75px;
        padding-bottom: 30px;
        height: 200px;
    }
    .team .member:last-child {
        margin-bottom: 20px;
    }
    .team .member .member-image {
        top: -55px;
        left: 50%;
        width: 100px;
        height: 100px;
    }
}
/*
┌─────────────┐
│ Instructor Section ├────
└─────────────┘
*/

.instructor {
    height: 272px;
    margin-top: 80px;
    margin-bottom: 150px;
    background-color: #256F44;
    position : relative;
}
.instructor h3 {
    padding: 10px 30px;
    position: absolute;
    background-color: #65A94D;
    border-radius: 5px;
    color : #fff;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.instructor img {
    position: absolute;
    width: 100%;
    height: 100%;
}
@media screen and (max-width : 991px){
    .instructor {
        height: 200px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .instructor h3 {
        padding: 10px 20px;
        font-size: 16px;
    }
}
@media screen and (max-width : 768px){
    .instructor {
        height: 170px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .instructor h3 {
        padding: 10px 20px;
        font-size: 14px;
    }
}
@media screen and (max-width : 768px){
    .instructor {
        height: 150px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .instructor h3 {
        padding: 10px 20px;
        font-size: 14px;
    }
}