.container {
    margin: 0;
    padding-left: 104px;
    padding-right:  104px;
    max-width: 1500px;
    margin: auto;
}
.header  {
    position: absolute;
    top: 44px;
    z-index: 100;
    width: 1000px;
}
.navigator {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.navigator .logo-header {
    font-family: theBold;
}
.logo-header {
    font-size: 24px !important;
}
.navigator ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
}
.navigator-light {
    color: #ffffff;
}
.navigator-dark {
    color: #55625E;
}
.logo-header  span {
    color: #256F44;
}