.footer {
    padding-top: 56px;
    padding-bottom: 28px;
    background-color: #B4D7BD;
    color: #657A75;
    font-size: 14px;
    text-align: justify;

}

.flex-footer > div {
    max-width: 376px;
}

.footer h6{
    color: #55625E;
    font-size: 16px;
    font-family: theRegular;
    margin: 0;
    margin-bottom: 16px;
}
.logo-footer {
    font-size: 24px !important;
    color: #ffffff !important;
}
.logo-footer  span {
    color: #256F44;
}

.header-footer p {
    line-height: 22px;
}

@media screen and (max-width : 1192px){
    .flex-footer > div {
        max-width: 300px;
    }
}
@media screen and (max-width : 991px){
    .flex-footer > div {
        margin-bottom: 30px;
    }
}

@media screen and (max-width : 768px){
    .header-footer {
       width : 100% !important;
       max-width: 300px;
    }
}

@media screen and (max-width : 600px){
    .footer {
        font-size: 12px;
    }
    .footer h6{ 
        font-size: 14px;
        
    }
    .flex-footer > div {
        max-width: 100%;
    }
    .header-footer p {
        font-size: 12px;
    }
    .foo p {
        font-size: 12px;
    }
}