.footer {
    /* Layout Properties */
    padding-top: 56px;
    padding-bottom: 28px;
    /* UI Properties */
    background-color: #B4D7BD;
    color: #657A75;
    font-size: 14px;
}
/* .flex-footer {
    display: flex;
    justify-content: space-around;
} */
.flex-footer > div {
    max-width: 376px;
}
.footer h6{
    color: #55625E;
    font-size: 16px;
    font-family: theRegular;
    margin: 0;
    margin-bottom: 16px;
}
.logo-footer {
    font-size: 24px !important;
    color: #ffffff !important;
}
.logo-footer  span {
    color: #256F44;
}

.header-footer p {
    line-height: 22px;
}